.container {
    background-color: rgb(121, 135, 151);
    margin: 15px
}
body {
    font-size: 30px;
}
.container1 {
    background-color: rgb(121, 135, 151);
    margin: 15px;
    display: flex;
    
}
.container1 button {
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    
}