body {
    background-color: beige;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}
.inp {
    width: 50%;
    height: 25px;
}
.btn {
    height: 30px;
    color: black;
    background-color: blanchedalmond;
}